# This file is part of the vscode-ddev-phpmd extension.
# © OpenForgeProject
# Licensed under the GNU General Public License v3.0 (GPL-3.0)

.trunk/**
.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
